* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-size: 22px;
    line-height: 1.5;
    background-color: bisque;
}

/*
h1,
h2,
h3,
h4 {
    color: blue;
}

p {
    color: green !important; 
}

p span {
    text-transform: uppercase;
    background-color: lightskyblue;
    color: black;
}

.class {
    color: salmon;
    font-family: 'Courier New', Courier, monospace;
}

#second {
    font-style: italic;
    font-size: 75px;
}
*/
